@font-face {
  font-family: "BebasRegular";
  src: url("/fonts/BebasRegular/BebasRegular.ttf");
}

@font-face {
  font-family: "BebasBold";
  src: url("/fonts/BebasBold/BebasBold.ttf", bold);
}

@font-face {
  font-family: "StMarieThin";
  src: url("/fonts/StMarieThin/StMarie-Thin.otf");
}

@font-face {
  font-family: "CalibriRegular";
  src: url("/fonts/CalibriRegular/Calibri.ttf");
}

@font-face {
  font-family: "CalibriLight";
  src: url("/fonts/CalibriLight/CalibriLight.ttf");
}
