//fonts//

$accent: "CalibriRegular"; //default font
$fontslider: "BebasRegular"; //slider font
$fontheaders: "StMarieThin"; // headers and footer font
$fontarticle: "CalibriLight"; // article font

//colors//

$acccol: #ffcc66; // default color
$colmenu: #cccccc; // menu color; description of team text color;
$coltextslider: #ff9900; // text slider color the first(+-); links of articles color;
$colbdslider: #666666; //  background slier color the first(+-);
$artcol: #000000; // articles color;
